.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    gap: 30px;
    min-width: 430px;
}

mat-form-field {
    width: 10%;
    margin: 0 5px;
}

button {
    background-color: #1976d2;
    color: #fff;
    font-size: 0.7em;
    font-weight: bold;
    padding: 10px 20px;
    max-width: 200px;
    max-height: 40px;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.mostrar-ocultar {
    margin: 0 20px;
}

button:hover {
    background: linear-gradient(135deg, #1565c0, #2196f3);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

button:active {
    transform: scale(0.97);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.remove-task {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.remove-task:hover {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.kanban {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kanban-board {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
}

.kanban-col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    border-radius: 8px;
    background: #f3f3f3;
    min-width: 400px;
    min-height: 200px;
}

.task-container {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    padding: 10px;
    margin: 8px 0;
}


.task-card {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    cursor: grab;
    position: relative;
}


.task-card.concluida {
    background: #d0ffd0;
    text-decoration: line-through;
}

span {
    padding: 0 10px;
}

.tag {
    font-size: 0.8rem;
    color: #666;
    margin-left: 0.5rem;
}

@media screen and (max-width: 430px) {
    mat-form-field {
        width: 50%;
    }
    
}