<h1>TaskFlow 🧠</h1>

<div class="header">

    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="menu">
        <button mat-menu-item (click)="abrirFeedbackDialog()">
            <mat-icon>feedback</mat-icon>
            <span>Enviar Feedback</span>
        </button>
        <a mat-menu-item href="https://github.com/mageskylms/taskFlow" target="_blank" rel="noopener">
            <mat-icon>code</mat-icon>
            <span>GITHUB</span>
        </a>
    </mat-menu>

    <mat-button-toggle-group [value]="modoKanban" (change)="alternarModoKanban($event.value)" name="modo"
        aria-label="Modo de visualização" exclusive>
        <mat-button-toggle [value]="false">Lista</mat-button-toggle>
        <mat-button-toggle [value]="true">Kanban</mat-button-toggle>
    </mat-button-toggle-group>

</div>

<div *ngIf="!modoKanban">
    <app-task-list></app-task-list>
</div>

<div *ngIf="modoKanban">
    <app-task-kanban></app-task-kanban>
</div>