<h2 mat-dialog-title>Nova Tarefa</h2>

<mat-dialog-content>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Título da tarefa</mat-label>
    <input matInput [(ngModel)]="tarefa" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Prioridade</mat-label>
    <mat-select [(ngModel)]="prioridade">
      <mat-option value="baixa">Baixa</mat-option>
      <mat-option value="média">Média</mat-option>
      <mat-option value="alta">Alta</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Descrição</mat-label>
    <textarea matInput rows="3" [(ngModel)]="descricao"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Tags (separadas por vírgula)</mat-label>
    <input matInput [(ngModel)]="tagsString" />
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="criarTask()">Criar</button>
</mat-dialog-actions>